<div class="row">
    <div class="col-sm-7 left-separator noPadding">
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Type</label>
                <p class="form-control-static" title="{{::talkFormats[talk.format + ''].description}}">
                    {{::talkFormats[talk.format + ''].name}}</p>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Track</label>
                <p class="form-control-static" title="{{selectedTrack.description}}" ng-bind="selectedTrack.libelle"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Langue</label>
                <p class="form-control-static">{{talk.language}}</p>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Difficulté</label>
                <div>
                    <span required rating ng-model="talk.difficulty" max="3" readonly="true"></span>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Nom</label>
                <p class="form-control-static">{{talk.name}}</p>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Description</label>
                <p class="form-control-static" marked="talk.description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Références ou compléments d'informations</label>
                <p class="form-control-static" marked="talk.references"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-12"><h3>{{talk.speaker.firstname}}&nbsp;{{talk.speaker.lastname}}</h3></div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <a ng-if="session.speaker.imageProfilURL" target="_blank" ng-href="{{session.speaker.imageProfilURL}}">
                    <img class="center-block avatar" ng-src="{{session.speaker.imageProfilURL}}" alt="avatar">
                </a>
                <img ng-if="!session.speaker.imageProfilURL" class="center-block avatar" src="/lib/images/placeholder.png" alt="avatar">

                <div class="text-center" ng-if="talk.speaker.twitter">
                    <span class="ion-social-twitter"></span>
                    <a ng-href="{{socialURL(talk.speaker.twitter, 'https://twitter.com/')}}"
                       target="_blank">{{socialLabel(talk.speaker.twitter, 'https://twitter.com/')}}</a>
                </div>
                <div class="text-center" ng-if="talk.speaker.github">
                    <span class="ion-social-github"></span>
                    <a ng-href="{{socialURL(talk.speaker.github, 'https://github.com/')}}"
                       target="_blank">{{socialLabel(talk.speaker.github, 'https://github.com/')}}</a>
                </div>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label">Entreprise</label>
                        <p class="form-control-static">{{talk.speaker.company}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label">Bio</label>
                        <p class="form-control-static" marked="talk.speaker.bio"></p>
                    </div>
                </div>
                <div class="row" ng-if="talk.cospeakers.length > 0">
                    <div class="col-sm-12">
                        <label class="control-label">Co-speakers</label>
                        <ul class="list-unstyled">
                            <li class="form-control-static" ng-repeat="cospeaker in talk.cospeakers">
                                {{cospeaker.email}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
